* {
	color: black !important;
font-family: cursive;

}

html {
	min-height: 100%;
	position: relative;
  }
header.abajo {
	padding-top: 250px;
	background-color: #f4f4f4 !important;
}

body{
	background-color: #f4f4f4;
	margin: 0;
	margin-bottom: 40px;
}

header.abajo{
	background: url(../img/header.jpg)  center no-repeat !important;
	background-attachment:  fixed ;
	background-size: 100% 100%;
}

header .container-fluid .row {
	height: 100%;
}

header .container-fluid>a {
	margin: auto;
	margin-top: 30px;
	text-align: center;
	width: 100%;

}

nav.navbar-dark {
	background-color: #FFD90F !important;
}

main {
	background:url(../img/fondo.jpg) no-repeat ;
	background-attachment:  fixed ;
	background-size: 100% 100%;
	padding: 40px;
	margin:0;
	
	
}
.fe{
	display: block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}	

.img{
	padding-top: 50px;
	padding-bottom: 50px;
}

.pie{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #FFD90F !important;
	position: absolute;
	
}

.galeria, .listap, .f{
	background-color: #FFD90F !important;
  }

.centrar{
	text-align: center;
}
.img_usuario {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.img_usuario > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.card-text, .card-title{
color:black !important;

}
.fcard, .fama{
	background:#FFD90F ;
}

.cborde{
	border: black;
}

.listado{
	height: 350px;
	width: 286px;
}

.lista{
	text-align: left;
	justify-content: space-evenly;
	padding:0 2 0 0;
	background-color:rgba(255, 217, 15, 0.7) ;
}

.filtro{
	padding-left: 2rem;
}

.card-img-top{
	width: 100%;
    height: 15vw;
    object-fit: cover;
}
.home>img,.i>img{
	width: 286px !important;
    height: 350px !important;
}